@using BCMS.Models;
@model Knowledge

<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />

<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">
        <div class="box-content">
        
            <div class="box col-md-4" style="margin-top:-10px">
                <div class="form-group">
                    <label for="exampleInputEmail1">التخصص </label>
                    <input id="KnowledgeTitle" name="KnowledgeTitle" class="form-control" value="@Model.KnowledgeTitle" disabled="disabled" />
                </div>
            </div> <!-- التخصص  -->
            <br /><br /><br /><br />
            <div class="form-group">
                <div class="panel-group" id="accordion-demo">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-demo" href="#prerequisites" class="collapsed">
                                    المعلومات
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="prerequisites" style="height: auto;">
                            <div class="panel-body">


                                <div style="margin:5px 20px 5px 5px;text-align:right" dir="rtl">
                                    @Html.ActionLink("إضافة معلومة جديدة", "CreateInformation", new { controller = "Knowledge", id = Model.KnowledgeID }, new { @class = "btn btn-primary12 btn-sm AddNewSub ", @style = "Color:#fff" })
                                </div>
                                <table class="table table-striped table-bordered responsive" dir="rtl" align="center">
                                    <thead>
                                        <tr>
                                            <th>المعلومة</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in (List<Information>)ViewBag.Information)
                                        {
                                            <tr>
                                                <td class="center">@item.InformationTitle</td>
                                                <td class="center">
                                                    <a class="btn btn-info lnkEditSP" style="color:white" href="@Url.Action("Editinformation", "Knowledge", new { id = item.InformationID })">
                                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                                        تعديل
                                                    </a>
                                                    <a class="btn btn-danger lnkDelete" style="color:white" href="@Url.Action("Deleteinformation", "Knowledge", new { id = item.InformationID })">
                                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                                        حذف
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>


                            </div> <!--/.panel-body -->
                        </div> <!-- /#prerequisites -->
                    </div> <!-- المعلومات -->
         
                </div>
            </div>

            <div style="margin:5px 20px 5px 5px;text-align:right">
                <input type="button" value="إغلاق" class="btn btn-primary12 btn-sm" id="btncancel" />
            </div>
        </div>
    </div>
</div>

