@using BCMS.Models;
@model Transaction
<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />

<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">

        <div class="box-content" style="width:100%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            @Html.HiddenFor(Model=>Model.TransactionId)
                <div class="form-group">
                    <label for="exampleInputEmail1">القطاع</label>
                    @Html.DropDownListFor(model=>model.SectorId, (IEnumerable<SelectListItem>)ViewBag.AllSectors, "-- إختار قطاع --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.SectorId)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">قيمة العملية</label>
                    @Html.EditorFor(model => model.TransactionValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TransactionValue)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1"> الأسهم المتداولة</label>
                    @Html.EditorFor(model => model.TradedStock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TradedStock)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"> قيمة الأسهم المتداولة</label>
                    @Html.EditorFor(model => model.TradedStocksValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TradedStocksValue)
                </div>
                <div style="margin:5px 20px 5px 5px;text-align:right">
                    <button class="btn btn-primary12 btn-sm" style="width:80px">حفظ</button>
                    <input type="button" value="إلغاء" class="btn btn-primary12 btn-sm" id="btncancel" />
                </div>
            }
        </div>

    </div>
</div>   