@using BCMS.Models;
@model QuarterMarketValue
<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />

<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">

        <div class="box-content" style="width:100%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="exampleInputEmail1">السوق</label>
                    @Html.DropDownListFor(model => model.MarketId, (IEnumerable<SelectListItem>)ViewBag.AllMarket, "-- إختار سوق   --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.MarketId)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">السنة</label>
                    @Html.EditorFor(model => model.Date, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ربع السنة</label>
                    @Html.EditorFor(model =>model.QuarterId, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.QuarterId)
                </div>
    <div class="form-group">
                    <label for="exampleInputEmail1">القيمة السوقية</label>
                    @Html.EditorFor(model => model.MarketValue, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.MarketValue)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">القيمة المتداولة</label>
                    @Html.EditorFor(model => model.ValueTradedOfStocks, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.ValueTradedOfStocks)
                </div>
    <div class="form-group">
                    <label for="exampleInputEmail1">Daily Average Value Traded</label>
                    @Html.EditorFor(model => model.DailyAvaregeValueTraded, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.DailyAvaregeValueTraded)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"> عدد الأسهم المتداولة</label>
                    @Html.EditorFor(model => model.NumberOfStockTraded, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.NumberOfStockTraded)
                </div>
    <div class="form-group">
                    <label for="exampleInputEmail1">متوسط القيمة المتداولة اليومي</label>
                    @Html.EditorFor(model => model.DailyAverageOfStockTraded, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.DailyAverageOfStockTraded)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">عدد الشركات المدرجة</label>
                    @Html.EditorFor(model => model.NumberOfListedCompanies, new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.NumberOfListedCompanies)
                </div>



                <div style="margin:5px 20px 5px 5px;text-align:right">
                    <button class="btn btn-primary12 btn-sm" style="width:80px">حفظ</button>
                    <input type="button" value="إلغاء" class="btn btn-primary12 btn-sm" id="btncancel" />
                </div>
            }
        </div>

    </div>
</div>   