@using System.Web.Optimization

@{
    Layout = null;
}

<!doctype html>
<html ng-app="langApp" dir="rtl" lang="ar" ng-controller="TitleController">
<head>
    @*<base href="/" />*@
    <title>{{Page.title()}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (Request.Cookies["language"] != null)
    {
        var lang = Request.Cookies["language"].Value;
        if (lang == "en")
        {
            @Styles.Render("~/bundles/BCMS/style/en")
        }
        else
        {
            @Styles.Render("~/bundles/BCMS/style/ar")
        }
    }
    else
    {
        @Styles.Render("~/bundles/BCMS/style/ar")
    }
    @Scripts.Render("~/bundles/BCMS/script")
    <script src="~/signalr/Hubs"></script>

    @RenderSection("scripts", required: false)
</head>

<body>
    <!-- Start Header-->
    @{Html.RenderPartial("_HeaderPartial");}
    <!--End Header-->
    <div style="min-height:initial;">
        <div class="large-12 columns">
            <div class="large-12 column" id="body">
                <!--START CONTENT-->
                @RenderBody()
                <!--END CONTENT-->
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <!-- Start Footer-->
    @{Html.RenderPartial("_FooterPartial");}
    <!--End Footer-->

    @if (Request.IsAuthenticated)
    {
        <script>
                var connect;
                $(function () {
                    connect = $.connection.mainHub;
                    $.connection.hub.start();
                    connect.client.logoff = function () {
                        $.connection.hub.stop();
                        window.location.href = "/Account/LogOff";
                    }
                });
        </script>
    }

</body>
</html>

