@using System.Web.Optimization

<!doctype html>
<html ng-app="UTMSApp" dir="rtl" lang="ar" ng-controller="TitleController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="application/xhtml+html; charset=utf-8" />
    <title>{{Page.title()}}</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    @*<link rel="icon" href="~/Materials/UTMS/Images/favicon.ico" type="image/x-icon">*@

    @Styles.Render("~/App_Start/bundles/UTMS/style")
    @Styles.Render("~/UTMS/MainStyle/ar")
    
    <style>
        .angular-google-map-container {
            height: 400px;
        }
    </style>
    @*<link href="~/Materials/UTMS/css/highcharts.css" rel="stylesheet" />*@
</head>
<body>
    <div class="BGWrapper">
        <!-- Start Header-->
        @Html.Partial("_HeaderPartial")
        <!--End Header-->
        <div class="MAINmainWrapper">
            @Html.Partial("_LeftPartial")
            @Html.Partial("_RightPartial")
            <!--START CONTENT-->
            <div class="MainWrapperCenter">
                <div class="MarqueeS" id="NewsBar" style="display:none">
                    <marquee direction="right" scrollamount="3" onmousedown="this.stop();" onmouseup="this.start();">
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>&nbsp;|&nbsp;
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>&nbsp;|&nbsp;
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>
                    </marquee>
                </div>

                <div style="text-align:center;width:100%;margin-top:10px;display:none" id="Alerts">
                    <ul style="display:inline;text-align:center;">
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="10" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="10" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="50" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="20" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="13" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="80" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="30" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="90" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="100" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="95" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="55" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="5" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" /></li>
                    </ul>
                </div>
                @RenderBody()
                <div class="clearfix"></div>
                <!--END CONTENT-->
            </div>
            <div class="clearfix"></div>
            @Html.Partial("_FooterPartial")
        </div>
        <div class="clearfix"></div>
    </div>

    @Scripts.Render("~/App_Start/bundles/UTMS/script")
    <script src="~/signalr/Hubs"></script>

</body>
</html>
