@using System.Web.Optimization

<!doctype html>
<html ng-app="UTMSApp" dir="rtl" lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="application/xhtml+html; charset=utf-8" />
    <title>BorsaCapital | Welcome</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Materials/UTMS/Images/favicon.ico" type="image/x-icon">
    <link href="~/Materials/UTMS/css/foundation.css" rel="stylesheet" />
    <link href="~/Materials/UTMS/css/MainStyle.css" rel="stylesheet" />
    <link href="~/Materials/UTMS/MainMenu/css/component.css" rel="stylesheet" />
    <link href="~/Materials/UTMS/MainMenu/css/css3.css" rel="stylesheet" />
    <link href="~/Materials/UTMS/css/Graphics.css" rel="stylesheet" />
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    @*<link href="~/Materials/Ar/css/login.css" rel="stylesheet" />*@
    @*@Styles.Render("~/App_Start/bundles/BCMS/style")*@
    <style>
        .angular-google-map-container{
            height:400px;
        }
    </style>
</head>
<body>
    <div class="BGWrapper">
        <!-- Start Header-->
        @Html.Partial("_HeaderPartial")
        <!--End Header-->
        <div class="MAINmainWrapper">
            @Html.Partial("_LeftPartial")
            @Html.Partial("_RightPartial")
            <!--START CONTENT-->
            <div class="MainWrapperCenter">
                <div class="MarqueeS" id="NewsBar" style="display:none">
                    <marquee direction="right" scrollamount="3" onmousedown="this.stop();" onmouseup="this.start();">
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>&nbsp;|&nbsp;
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>&nbsp;|&nbsp;
                        <span>أوقات التداول حسب توقيت المملكة العربية السعودية</span>
                    </marquee>
                </div>

                <div style="text-align:center;width:100%;margin-top:10px;display:none" id="Alerts">
                    <ul style="display:inline;text-align:center;">
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="10" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="10" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="50" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="20" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="13" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="80" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="30" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="90" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="100" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="95" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="55" src="~/Areas/UTMS/Images/GreenNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="5" src="~/Areas/UTMS/Images/RedNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" />&nbsp;&nbsp;&nbsp;</li>
                        <li style="display:inline"><img class="notificationTooltip" title="0" src="~/Areas/UTMS/Images/BlackNote1.png" alt="GreenNote" width="15" /></li>
                    </ul>
                </div>
                @RenderBody()
                <div class="clearfix"></div>
                <!--END CONTENT-->
            </div>
            <div class="clearfix"></div>
            @Html.Partial("_FooterPartial")
        </div>
        <div class="clearfix"></div>
        @*@Html.Partial("_FooterPartial")*@
    </div>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/foundation.js"></script>
    <script src="~/Scripts/spin.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/loading-bar.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Areas/UTMS/Angular/app_UTMS.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Areas/UTMS/Angular/UTMS_Controller.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script src="~/Areas/UTMS/Charts/angular-google-maps.js"></script>
    <!--BC-Counters-->
    <script src="~/Scripts/highcharts-more.js"></script>
    <script src="~/Scripts/solid-gauge.src.js"></script>
    <!--/BC-Counters-->
    @*@Scripts.Render("~/App_Start/bundles/BCMS/script")*@
    @*@Scripts.Render("~/App_Start/bundles/UTMS/script")*@

    @{
        if (Request.IsAuthenticated)
        {
            <script>
                var connect;
                $(function () {
                    connect = $.connection.mainHub;
                    $.connection.hub.start();
                })
            </script>
        }
    }
</body>
</html>

