@section scripts{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="~/content/js/jquery.countdown.counter.js"></script>
    <script src="~/content/js/jquery.timeout.interval.idle.js"></script>
    <link href="~/content/css/jquery.countdown.timer.css" rel="stylesheet" />
    <style type="text/css">
        .ui-dialog-titlebar {
            text-align: right;
            font-size: 14px;
        }

        .ui-dialog .ui-dialog-titlebar {
            padding: .4em 0em;
        }

        .ui-dialog .ui-dialog-title {
            padding-left: 30px;
        }
    </style>
    <script type="text/javascript">
    var min = 99;
    var sec = 60;
    function date_time(id) {
        s = --sec;
        if (s < 10) {
            s = "0" + s;
            if (s == 00) {
                sec = 61;
                min = --min;
                if (min < 10) {
                    min = "0" + min;
                }
            }
        }
        result = min + ':' + s;
        document.getElementById(id).innerHTML = result;
        if (min == 00 && s == 00) {
            for (var d = 0; d < 100 ; d++) {
                if (selectedValue[d] == "true") {
                    correct_count++;
                }
                else if (selectedValue[d] == null)
                    not_answer++;
                else if (selectedValue[d] != "true")
                    wrong_count++;
            }
            if (correct_count >= 70) {
                $.ajax({
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: '@Url.Action("SaveResult", "RuningExam")',
                    data: "{ 'Correct':'" + correct_count + " ','Wrong':'" + wrong_count + " ','Blank':'" + not_answer + " ','user':'" +  "@Session["username"]" + " ','cat':'" + "@Session["tttt"]" + " '}",
                success: function (result) {
               //     alert(result);
                }
            });
        }
        var url = "@Url.Action("Chart","Home")?TrueAnswer=" +
            correct_count +
            "&WrongAnswer=" + wrong_count;
        window.location.href = url;
        this.close();
        }
        setTimeout('date_time("' + id + '");', '1000');
        return true;
    }
    </script>
    <script type="text/javascript" charset="utf-8">
        var f = 0;
        var k = 0;
        var answers = [];
        var checkedAnswer = [];
        var max = 0;
        var selectedValue = [];
    var RandomNums = [];
    var increment = 0;
    var correct_count = 0;
    var skip_count = 0;
    var wrong_count = 0;
    var not_answer;
    var skip_question;
    var ss = 0;
    var d = 0;
    var quesnotAnswer = [];
    var j = 0;
    $(function () {
        $.ajax({
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '@Url.Action("GetRandomNumbers", "RuningExam")',
            success: function (result) {
                for (var a = [], i = 0; i < 100 ; i++) {
                    a[i] = result[i];
                }
                RandomNums = a;
                console.log(RandomNums);
            },
            error: function (xhr, status, error) {
                alert("Error 1 :حدث خطأ في استرجاع البيانات");
            }
        });
    })
        $(document).ready(function () {
            if (j == 0)
           {
            $("#btnback").addClass("dis_none");
           }
            else
            { $("#btnback").removeClass("dis_none"); }

            $("#dialog").dialog({
                autoOpen: true,
                resizable: false,
                title: "التعليمات",
                draggable: true,
                model: true,
                width: 450,
                height: 300,
                show: { effect: 'drop', direction: "up" },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                },
                buttons: {
                    "موافق": function () {
                        $(this).dialog("close");
                        $('#mytable').slideDown();
                        date_time('date_time');
                        //===============Question======================
                        $.ajax({
                            type: "post",
                            timeout: 3000,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("GetQuestion", "RuningExam")',
                            data: "{ 'QuizNo':' " + RandomNums[increment] + " '}",
                            success: function (result) {
                                skip_question = RandomNums[increment];
                                $("#lblQuetionNum").html("السؤال رقم : " + (increment + 1));
                                $("#lblQuetion").html(result);
                            },
                            error: function (xhr, status, error) {
                                alert("Error 2 :حدث خطأ في استرجاع البيانات");
                            }
                        });
                        //=================Answers=======================
                        $.ajax({
                            type: "post",
                            timeout: 3000,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("GetAnswers", "RuningExam")',
                            data: "{ 'QuizNo':'" + RandomNums[increment] + "'}",
                            success: function (result) {
                                ss = 0;
                                var count = 0;
                                var place_correct_ans = [];
                                $("#tab").html("");
                                for (var i = 0; i < result.length; i++) {
                                    $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td > <input type='radio'style='display:none'   id='radio" + i + "'class='radio' name='radio' value='" + result[i].is_right + "' ><label for='radio" + i + "'> " + (i + 1) + ")  " + result[i].answer + "</label> </td><td></td> </tr>");
                                    if ($("#radio" + i).val() == 'true') {
                                        place_correct_ans[count] = i + 1;
                                        //  $("#radio" + i).val('v') ;

                                        count++;
                                        ss++;
                                    }
                                }
                                if (ss == 2) {
                                    for (var i = 0; i < result.length; i++) {
                                        if ($("#radio" + i).val() == 'true') {
                                            $("#radio" + i).val('v');
                                        }
                                    }
                                    $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td> <input type='radio'style='display:none' id='radio3' class='radio' name='radio' value='true'><label for='radio3'> 4)  " + place_correct_ans[0] + ' و ' + place_correct_ans[1] + "</label> </td><td></td> </tr>");
                                }
                            },
                            error: function (xhr, status, error) {
                                alert("Error 3 :حدث خطأ في استرجاع البيانات");
                            }
                        });
                    }
                }
            });
//==============================back===================
            $("#back").click(function () {
                if (k == 0) {

                }
                else {

                    increment--;
                    k--
                    //===============Question======================
                    $.ajax({
                        type: "post",
                        // timeout: 3000,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: '@Url.Action("GetQuestion", "RuningExam")',
                        data: "{ 'QuizNo':'" + RandomNums[increment] + "'}",
                        success: function (result) {
                            $("#lblQuetionNum").html("");
                            $("#lblQuetionNum").html("السؤال رقم : " + (increment + 1));
                            $("#lblQuetion").html(result);
                        },
                        error: function (xhr, status, error) {
                            alert("Error 2 :حدث خطأ في استرجاع البيانات");
                        }
                    });    //=================Answers=======================
                    $.ajax({
                        type: "post",
                        timeout: 3000,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: '@Url.Action("GetAnswers", "RuningExam")',
                        data: "{ 'QuizNo':'" + RandomNums[increment] + "'}",
                        success: function (result) {
                            ss = 0;
                            var qiuckAns = [];
                            var count = 0;
                            var place_correct_ans = [];
                            $("#tab").html("");
                            var n = 0;
                            for (var i = 0; i < result.length; i++) {
                                $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td > <input type='radio' style='display:none' id='radio" + i + "'class='radio' name='radio' value='" + result[i].is_right + "' ><label for='radio" + i + "'> " + (i + 1) + ")  " + result[i].answer + "</label> </td><td></td> </tr>");
                                qiuckAns[i] = ($("label[for=radio" + i + "]").text().substring(7));
                                if (qiuckAns[i] == checkedAnswer[k])
                                {
                                    $("#radio" + i).prop("checked", true);
                                    n = 1;
                                }

                                if ($("#radio" + i).val() == 'true') {
                                    //  $("#radio" + i).val('v');
                                    place_correct_ans[count] = i + 1;
                                    count++;
                                    ss++;
                                }
                            }
                            if (ss == 2) {
                                for (var i = 0; i < result.length; i++) {
                                    if ($("#radio" + i).val() == 'true') {
                                        $("#radio" + i).val('v');
                                    }
                                }
                                $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td> <input type='radio' style='display:none' id='radio3' class='radio' name='radio' value='true'><label for='radio3'> 4)  " + place_correct_ans[0] + ' و ' + place_correct_ans[1] + "</label> </td><td></td> </tr>");
                                if (checkedAnswer[k] != null) {
                                    if (n==0)
                                    {
                                        $("#radio3").prop("checked", true);
                                    }

                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("Error 3 :حدث خطأ في استرجاع البيانات");
                        }
                    });
                }
            });

            $("#confirmEnd").dialog({
                autoOpen: false,
                resizable: false,
                title: "تنبيه",
                draggable: true,
                model: true,
                width: 350,
                height: 150,
                show: { effect: 'drop', direction: "up" },
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                },
                buttons: {
                    "إلغاء": function () {
                        $(this).dialog("close");
                    },
                    "موافق": function () {
                        for (var d = 0; d <100; d++) {
                            if (selectedValue[d] == "true") {
                                correct_count++;
                            }
                            else if (selectedValue[d] == null)
                                not_answer++;
                            else if (selectedValue[d] != "true")
                                wrong_count++;

                        }
                        if (correct_count >= 70) {
                            $.ajax({
                                type: "Post",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                url: '@Url.Action("SaveResult", "RuningExam")',
                                data: "{ 'Correct':'" + correct_count + " ','Wrong':'" + wrong_count + " ','Blank':'" + not_answer + " ','user':'" + "@Session["username"]" + " ','cat':'" + "@Session["tttt"]" + " '}",
                            success: function (result) {
                            }
                        });
                    }
                    var url = "@Url.Action("Chart","Home")?TrueAnswer=" +
                        correct_count +
                        "&WrongAnswer=" + wrong_count;
            window.location.href = url;
            this.close();
                        $(this).dialog("close");
                    }
                }
            });

            $("#btnend").click(function () {
                $("#confirmEnd").dialog("open");
            });

            $("#btnback").click(function () {


                increment = quesnotAnswer[f];
                k = increment;
                //===============Question======================
                $.ajax({
                    type: "post",
                    // timeout: 3000,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: '@Url.Action("GetQuestion", "RuningExam")',
                    data: "{ 'QuizNo':'" + RandomNums[increment] + "'}",
                    success: function (result) {
                        $("#lblQuetionNum").html("");
                        $("#lblQuetionNum").html("السؤال رقم : " + (increment + 1));
                        $("#lblQuetion").html(result);
                    },
                    error: function (xhr, status, error) {
                        alert("Error 2 :حدث خطأ في استرجاع البيانات");
                    }
                });    //=================Answers=======================
                $.ajax({
                    type: "post",
                    timeout: 3000,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: '@Url.Action("GetAnswers", "RuningExam")',
                    data: "{ 'QuizNo':'" + RandomNums[increment] + " '}",
                    success: function (result) {
                        ss = 0;
                        var qiuckAns = [];
                        var count = 0;
                        var n = 0;
                        var place_correct_ans = [];
                        $("#tab").html("");
                        for (var i = 0; i < result.length; i++) {
                            $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td > <input type='radio' style='display:none' id='radio" + i + "'class='radio' name='radio' value='" + result[i].is_right + "' ><label for='radio" + i + "'> " + (i + 1) + ")  " + result[i].answer + "</label> </td><td></td> </tr>");
                            qiuckAns[i] = ($("label[for=radio" + i + "]").text().substring(7));
                            if (qiuckAns[i] == checkedAnswer[k]) {
                                $("#radio" + i).prop("checked", true);
                                n = 1;
                            }
                            if ($("#radio" + i).val() == 'true') {
                                //  $("#radio" + i).val('v');
                                place_correct_ans[count] = i + 1;
                                count++;
                                ss++;
                            }
                        }
                        if (ss == 2) {

                            for (var i = 0; i < result.length; i++) {
                                if ($("#radio" + i).val() == 'true') {
                                    $("#radio" + i).val('v');
                                }

                            }
                            $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td> <input type='radio' style='display:none' id='radio3' class='radio' name='radio' value='true'><label for='radio3'> 4)  " + place_correct_ans[0] + ' و ' + place_correct_ans[1] + "</label> </td><td></td> </tr>");
                            if (checkedAnswer[k] != null) {
                                if (n == 0)
                                    $("#radio3").prop("checked", true);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Error 3 :حدث خطأ في استرجاع البيانات");
                    }
                });
                f++;
                    if (f==j) {
                        f= 0;
                    }

            });


            //===============================next=======================
            $("#btnNext").click(function () {

                f = 0;
                if (!$(':radio[name="radio"]:checked').length) {
                    var check = 0;
                    for (var i = 0; i <= j; i++) {
                    if (quesnotAnswer[i] == increment)
                    {
                        check = 1;
                    }
                    }
                    if (check == 0) {
                        quesnotAnswer[j] = increment;
                        j++;
                    }
                }
           //     if ($(':radio[name="radio"]:checked').length) {
              else {
                for (var w = 0; w <= j; w++) {
                        if (quesnotAnswer[w] == increment) {
                            quesnotAnswer.splice(w, 1);
                            j--;
                        }
                    }
                }
                if (j == 0) {
                    $("#btnback").addClass("dis_none");
                }
                else { $("#btnback").removeClass("dis_none"); }
                increment++;
                $("input[type='radio']:checked").each(function () {
                    var idVal = $(this).attr("id");
                    checkedAnswer[k] = ($("label[for='" + idVal + "']").text().substring(7));
                    selectedValue[k] = $("input:radio[name=radio]:checked").val();
                });
            k++;
            if (increment==100)
            {
                for (var d = 0; d < 100 ; d++) {
                    if (selectedValue[d] == "true") {
                        correct_count++;
                    }
                    else if (selectedValue[d] == null)
                        not_answer++;
                    else if (selectedValue[d] != "true")
                        wrong_count++;

                }
                not_answer = 100 - (correct_count + wrong_count);
               if (correct_count >= 70) {
                    $.ajax({
                        type: "Post",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: '@Url.Action("SaveResult", "RuningExam")',
                        data: "{ 'Correct':'" + correct_count + " ','Wrong':'" + wrong_count + " ','Blank':'" + not_answer + " ','user':'" +  "@Session["username"]" + " ','cat':'" + "@Session["tttt"]" + " '}",
                        success: function (result) {
                        }
                    });
                }
                var url = "@Url.Action("Chart","Home")?TrueAnswer=" +
                    correct_count +
                    "&WrongAnswer=" + wrong_count;
                window.location.href = url;
                this.close();
            }
            //===============Question======================
            $.ajax({
                type: "post",
                // timeout: 3000,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetQuestion", "RuningExam")',
                data: "{ 'QuizNo':'" + RandomNums[increment] + "'}",
                    success: function (result) {
                        $("#lblQuetionNum").html("");
                        $("#lblQuetionNum").html("السؤال رقم : " + (increment + 1));
                        $("#lblQuetion").html(result);
                    },
                    error: function (xhr, status, error) {
                        alert("Error 2 :حدث خطأ في استرجاع البيانات");
                    }
                });    //=================Answers=======================
            $.ajax({
                type: "post",
                timeout: 3000,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("GetAnswers", "RuningExam")',
                data: "{ 'QuizNo':'" + RandomNums[increment] + " '}",
                success: function (result) {
                    ss = 0;
                    var qiuckAns = [];
                    var count = 0;
                    var n = 0;
                    var place_correct_ans = [];
                    $("#tab").html("");
                    for (var i = 0; i < result.length; i++) {
                        $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td > <input type='radio' style='display:none' id='radio" + i + "'class='radio' name='radio' value='" + result[i].is_right + "' ><label for='radio" + i + "'> " + (i + 1) + ")  " + result[i].answer + "</label> </td><td></td> </tr>");
                        qiuckAns[i] = ($("label[for=radio" + i + "]").text().substring(7));
                        if (qiuckAns[i] == checkedAnswer[k])
                        {
                            $("#radio" + i).prop("checked", true);
                            n = 1;
                        }
                        if ($("#radio" + i).val() == 'true') {
                          //  $("#radio" + i).val('v');
                            place_correct_ans[count] = i + 1;
                            count++;
                            ss++;
                        }
                    }
                    if (ss == 2) {

                            for (var i = 0; i < result.length; i++) {
                                if ($("#radio" + i).val() == 'true') {
                                    $("#radio" + i).val('v');
                                }

                        }
                        $("#tab").append(" <tr><td style='text-align:left'> <p></p>  </td>  <td> <input type='radio' style='display:none' id='radio3' class='radio' name='radio' value='true'><label for='radio3'> 4)  " + place_correct_ans[0] + ' و ' + place_correct_ans[1] + "</label> </td><td></td> </tr>");
                        if (checkedAnswer[k] != null) {
                            if (n == 0)
                                $("#radio3").prop("checked", true);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error 3 :حدث خطأ في استرجاع البيانات" );
                }
                });
            });
        });
    </script>
}
<div id="confirmEnd" style="text-align:right">
    <span style="text-align:center;font-weight:bold;font-size:16px">هل تريد بالتأكيد إنهاء الإختبار ؟</span>
</div>
<div id="dialog">
    <div class="Left Padding-LR-10" style="direction: rtl">
        <table style="font-size:13px;width:400px;font-weight:bold">
            <tr>
                <td style="width: 10px;">1-</td>
                <td>الإختبارات مصنفة إلى سبعة أقسام</td>
            </tr>
            <tr>
                <td style="width: 10px;">
                    2-
                </td>
                <td>كل قسم يحتوي على خمس امتحانات</td>
            </tr>
            <tr>
                <td style="width: 10px;">3-</td>
                <td>مدة الإمتحان 100 دقيقة </td>
            </tr>
            <tr>
                <td style="width: 10px;">4-</td>
                <td>يحتوي الإمتحان على 100 سؤال </td>
            </tr>
            <tr>
                <td style="width: 10px;">5-</td>
                <td>يمكن تخطي الأسئلة و الرجوع إليها لاحقا</td>
            </tr>
            <tr>
                <td style="width: 10px;">6-</td>
                <td>الأسئلة الغير مجاب عليها بعد انتهاء الوقت تعتبر خاطئة  </td>
            </tr>
            <tr>
                <td style="width: 10px;">7-</td>
                <td>درجة النجاح في الإمتحان %70</td>
            </tr>
            <tr>
                <td style="width: 10px;">8-</td>
                <td>لا يتم الإنتقال الى الإختبار التالي إلا بعد النجاح في الإختبار السابق له</td>
            </tr>
            <tr>
                <td colspan="2">بالتوفيق ...</td>
            </tr>
        </table>
    </div>
</div>
<div id="mytable" style="padding: 10px; display: none; align-content: center; direction: rtl">
    <h2 style="padding-left: 16px; text-align: center; color: rgb(138, 176, 103); font-family: initial; font-size: 27px; ">الوقت المتبقي</h2><span id="date_time" style="text-align: center; padding-right: 454px; color: rgb(85, 128, 46); font-family: cursive; font-size: 21px; "></span>
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <p id="lblQuetionNum" style="color:red;font-size:medium;font-weight: bold;"></p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p id="lblQuetion" style="font-size: medium; font-weight: bold; color: rgb(138, 176, 103); "></p>
            </td>
            <td></td>
        </tr>
    </table>
    <table id="tab" border="0" cellpadding="0" cellspacing="0"></table>
    <div style="width: 100%; text-align: center; padding-right: 181px;">
        <table style="text-align:center">
            <tr>

                <td>
                    <br />
                    <div class="Padding-LR-10">
                        <input type="button" id="back" class="Button" style="font-weight:bold" value="السابق " />

                    </div>
                </td>
                <td>
                    <br />
                    <div class="Padding-LR-10">
                        <input type="button" style="font-weight:bold" id="btnend" class="Button" value="إنهاء الإختبار" />

                    </div>
                </td>
                <td>
                    <br />
                    <div class="Padding-LR-10">
                        <input type="button" id="btnNext" style="font-weight:bold" class="Button" value="التالي" />
                    </div>
                </td>

                <td>
                    <br />
                    <div class="Padding-LR-10">
                        <input type="button" id="btnback" style="font-weight:bold;width:150px" class="Button" value=" الأسئلة الغير مجابة" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
