@using BCMS.Models;
@model CurrentAccountBalance
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui-dialog-buttonset button').addClass('btn btn-primary12 btn-sm');
    });
</script>
<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">
        <div class="box-content" style="width:100%;">
            <div class="form-group">
                <label for="exampleInputEmail1">الدولة</label>
                <input name="ActivityID" class="form-control" type="text" disabled="disabled" value="@Model.Country.CountryArName" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">الموضوع</label>
                <input name="ActivityID" class="form-control" type="text" disabled="disabled" value="@Model.subject.subjectTxt" />
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">السنة</label>
                <input name="YearID" class="form-control" type="text" disabled="disabled" value="@Model.Year.YearN" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">القيمة</label>
                <input name="ValueActi" class="form-control" type="text" disabled="disabled" value="@Model.Value" />
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">النسبة المئوية</label>
                <input name="CurrentActiv" class="form-control" type="text" disabled="disabled" value="@Model.ValuePercentage" />
            </div>
        </div>
    </div>
</div>