@using BCMS.Models;
@model Activity_Year
<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />

<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">

        <div class="box-content" style="width:100%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

       
                <div class="form-group">
                    <label for="exampleInputEmail1">النشاط</label>
                    @Html.DropDownListFor(model => model.ActivityId, (IEnumerable<SelectListItem>)ViewBag.AllActivity, "-- إختار نشاط --", new { @class = "StyleForDropDownList" })
                       @Html.ValidationMessageFor(model => model.ActivityId)
                </div>
               
                <div class="form-group">
                    <label for="exampleInputEmail1">السنة</label>
                    @Html.DropDownListFor(model => model.YearId, (IEnumerable<SelectListItem>)ViewBag.Allyears, "-- إختار سنة --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.YearId)
                </div>
                
                <div class="form-group">
                    <label for="exampleInputEmail1">قيمة النشاط</label>
                    @Html.EditorFor(model => model.ActivityValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActivityValue)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1"> قيمة النشاط الحالي</label>
                    @Html.EditorFor(model => model.CurrentActivityValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentActivityValue)
                </div>
                
                <div style="margin:5px 20px 5px 5px;text-align:right">
                    <button class="btn btn-primary12 btn-sm" style="width:80px">حفظ</button>
                    <input type="button" value="إلغاء" class="btn btn-primary12 btn-sm" id="btncancel" />
                </div>
            }
        </div>

    </div>
</div>

