@using BCMS.Models;
@model Advice
<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />
<div style=" text-align: center;width:82%">

    <div class="box col-md-8" style="width:121%;text-align: center">


        <div class="box-content" style="width:100%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                @Html.HiddenFor(model => model.AdviceID)

                <div class="form-group">
                    <label for="exampleInputEmail1">النصيحة</label>
                    @Html.TextAreaFor(model => model.AdviceContent, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AdviceContent)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">ملحوظات</label>
                    @Html.TextAreaFor(model => model.AdviceDescription, new { @class = "form-control" })

                </div>

                <div style="margin:5px 20px 5px 5px;text-align:right">
                    <button class="btn btn-primary12 btn-sm" style="width:80px">حفظ</button>
                    <input type="button" value="إلغاء" class="btn btn-primary12 btn-sm" id="btncancel" />
                </div>
            }
        </div>

    </div>
</div>
