@using BCMS.Models;
@model VolumeOfExportsOfGoodsAndService
<script src="~/Areas/Admin/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/js/jquery.validate.unobtrusive.js"></script>
<link href="~/Areas/Admin/css/MyStyle.css" rel="stylesheet" />

<div style=" text-align: center;width:82%">
    <div class="box col-md-8" style="width:121%;text-align: center">

        <div class="box-content" style="width:100%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(Model => Model.ExportOfGoodsServicesID)
                <div class="form-group">
                    <label for="exampleInputEmail1">الدولة</label>
                    @Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.AllCountry, "-- إختار دولة   --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.CountryId)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">الموضوع</label>
                    @Html.DropDownListFor(model => model.SubjectId, (IEnumerable<SelectListItem>)ViewBag.AllSubject, "-- إختار موضوع   --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.SubjectId)
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">الوحدة</label>
                    @Html.DropDownListFor(model => model.UnityId, (IEnumerable<SelectListItem>)ViewBag.AllUnity, "-- إختار وحدة   --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.UnityId)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">السنة</label>
                    @Html.DropDownListFor(model => model.YearId, (IEnumerable<SelectListItem>)ViewBag.AllYear, "-- إختار سنة   --", new { @class = "StyleForDropDownList" })
                    @Html.ValidationMessageFor(model => model.YearId)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">القيمة</label>
                    @Html.EditorFor(model => model.Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Value)
                </div>


                <div style="margin:5px 20px 5px 5px;text-align:right">
                    <button class="btn btn-primary12 btn-sm" style="width:80px">حفظ</button>
                    <input type="button" value="إلغاء" class="btn btn-primary12 btn-sm" id="btncancel" />
                </div>
            }
        </div>

    </div>
</div>   